{# templates/event-teams-form.html.twig #}

{{ form|without('team') }}

  <div class="row">
    <div class="col-xs-1 col-md-3">
      {{ form.team.club }}
    </div>
    <div class="col-xs-1 col-md-3">
      {{ form.team.night }}
    </div>
    <div class="col-xs-1 col-md-3">
      {{ form.team.name }}
    </div>
    <div class="col-xs-1 col-md-3 d-flex flex-column justify-content-end" style="padding-top: 1em; padding-bottom: 1em;">
      {{ form.team.button }}
    </div>
  </div>
