{# templates/fixtures-filtures-form.html.twig #}

{{ form|without('object', 'item_container', 'filter', 'show', 'admin', 'table', 'footer') }}
<a class="d-lg-none" data-bs-toggle="collapse" href="#fixtures-form-fields" aria-expanded="false" aria-controls="fixtures-form-fields">
  show / hide  filters
</a>
<div class="collapse" id="fixtures-form-fields">
  <div id="fixtures-filters" class="row row-cols-lg-auto align-items-center">
    <div id="fixtures-for">
      {{ form.object }}
      {{ form.item_container }}
    </div>
    {{ form.filter }}
    {{ form.show }}
  </div>
  <div id="fixture-admin" class="row-cols-lg-auto align-items-center">
    {{ form.admin }}
  </div>
</div>
<hr class="py-2" />
{{ form.table }}
{{ form.footer }}

