{# templates/fixtures-filtures-form.html.twig #}

{{ form|without('club', 'search', 'list') }}

<div class="container mt-4">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      {{ form.club }}
      {{ form.search }}
    </div>
    <div class="col-xs-12 col-md-6">
      {{ form.list }}
    </div>
  </div>
</div>
