// Bootstrap variables (overrides).
$form-text-margin-top: 0;
$legend-font-size: 1rem;
$table-cell-padding-x: .75rem;

// scss-docs-start theme-color-variables
$primary: #842029;
$secondary: #faf2f0;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;
// scss-docs-end theme-color-variables

$body-color: #545667;
$link-color: #181C32;
$link-hover-color: #842029;
$breadcrumb-divider: "»";

$navbar-brand-image-height-lg: 75px;
$navbar-brand-image-height: 50px;

$form-check-input-border: 1px solid #999999;

$container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 100%,
    xxl: 1356px
);

// Assign the locally installed Google font "Source Sans 3" - https://fonts.google.com/specimen/Source+Sans+3
@font-face {
    font-family: "Source Sans 3";
    src: url('../fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf');
}

// Assign google font for use as the main font
$font-family-sans-serif: "Source Sans 3", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
