{% extends "block.html.twig" %}

{% block content %}

{%
  set classes = [
    'lms-interface-pill',
    'btn',
    'my-1',
  ]
%}

  <a href="{{ content['#signed_in'] ? '#' : path('user.login') }}" {{ attributes.addClass(classes) }} {{ content['#signed_in'] ? 'role="button" data-bs-toggle="dropdown" aria-expanded="false"' : '' }}>

    <div class="pe-2">
      {% if content['#signed_in'] %}
          {{ content['#username'] }}
      {% else %}
          Sign In
      {% endif %}
    </div>

    <i class="bi bi-person-circle"></i>
  </a>


  <ul class="dropdown-menu">
    {% for link in content['links'] %}
      <li>{{ link }}</li>
    {% endfor %}
  </ul>


{% endblock %}
