
{#
/**
 * @file
 * Theme override to display a block in one of the sidebars
 *
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'card'
  ]
%}


{% block content %}
  <div {{ attributes.addClass(classes) }}>
    <div class="{{ isList ? '' : 'card-body' }}">
      {{ title_prefix }}
      {% if label %}
        <h4 class="card-title{{ isList ? ' card-body' : '' }}">{{ label }}</h4>
      {% endif %}
      {{ title_suffix }}
        {{ content }}
    </div>

  </div>
{% endblock %}
