{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a footer branding block.
 *
 * Available variables:
 * - lms_footer_logo_path: Branding logo path.
 * - lms_footer_branding_text: Branding text.
 * - lms_footer_branding_url: Url if the text and image above are links.
 */
#}

{% block content %}
<div class="d-flex flex-row footer-branding-block">

  {% if lms_footer_logo_path %}
    <div class="pr-2 mr-2">
      {% if lms_footer_branding_url %}
        <a href="{{ lms_footer_branding_url }}">
      {% endif %}
      <img src="{{ lms_footer_logo_path }}" class="lms-footer-logo">
      {% if lms_footer_branding_url %}
        </a>
      {% endif %}
    </div>
  {% endif %}

  {% if lms_footer_branding_text %}
    <h4 class="ml-1">
    {% if lms_footer_branding_url %}
      <a href="{{ lms_footer_branding_url }}">
    {% endif %}
    {{ lms_footer_branding_text }}
    {% if lms_footer_branding_url %}
      </a>
    {% endif %}
    </h4>
  {% endif %}

</div>

{% endblock %}
