{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{#
/**
 * This block has been modified quite specifically to fit the ecf lms site,
 * e.g. It uses the site slogan as a mobile site name which is 'LMS'.
 * Refer to the template in the original bootstrap theme to revert if neccessary
 */
#}

{% block content %}
<div class="navbar-brand d-flex align-items-center">

  {% if site_logo %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo d-block">
    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" fetchpriority="high" />
  </a>
  {% endif %}

  <div>
    {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-title">
      {{ site_name }}
    </a>
    {% endif %}

    <h1 class="d-lg-none lms-mobile-title">LMS</h1>
  </div>
</div>
{% endblock %}
