{% extends "block.html.twig" %}

{% block content %}

{%
  set classes = [
    'lms-interface-pill',
    'btn',
    'my-2'
  ]
%}

  <a href="#" {{ attributes.addClass(classes) }} role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="pe-2">Help</div>
    <i class="bi bi-info-circle"></i>
  </a>

  <ul class="dropdown-menu">
    {% for link in content['list']['#items'] %}
      <li>{{ link }}</li>
    {% endfor %}
  </ul>

{% endblock %}

