/**
* Lists
*/

.item-list li.list-group-item {
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  margin: 0;
}

.card .list-group {
  border-top: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
  border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.latest-results p {
  margin-bottom: 0;
}

/**
* Pills for account and help
*/

.lms-interface-pill {
  border: 1.5px solid var(--bs-border-color) !important;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  border-radius: 50px;
  gap: 0.5em;
}

/*
 * Matchcard. - membership status
 *
 */

.membership-none,
.membership-bronze,
.membership-gold,
.membership-life,
.membership-platinum,
.membership-silver,
.membership-supporter {
  display: inline;
  border-radius: 5px;
  padding: 0 2px;
  margin-left: 3px;
}

.membership-none {
  color: transparent;
}

.membership-gold {
  background-color: #FFDF00;
}

.membership-bronze {
  background-color: #F4A460;
}

.membership-silver {
  background-color: #C0C0C0;
}

.membership-platinum {
  background-color: #D3D3D3;
}

.membership-supporter {
  background-color: #99FA99;
}

.membership-life {
  background-color: #99ffff;
}

/* Comments */

.comment__meta {
  padding: 1em 0 0 0;
}
