.footer-branding-block {
    a {
        text-decoration: none;
        color: var(--#{$prefix}body-color);
    }

    h4 {
        margin-left: 0.5em;
    }

    img.lms-footer-logo {
        width: 100px;
        height: 47px;
    }
}

#block-lms-theme-footer {
    a.nav-link {
        color: rgba(0, 0, 0, 0.65);
    }

    a.nav-link:hover {
        color: $link-color;
    }
}
