/* All Forms */

.form-control,
#edit-name {
    width: 100%;
    max-width: 30em;
}

textarea.form-control {
    max-width: 50em;
}

/* Search Form */

.js-form-type-search {
    //should just be temporary
    margin-right: 1rem !important;
}

/* Fixtures Form */

#fixtures-form-fields {
    select {
        @extend .form-select-sm;
    }

    input {
        @extend .btn-sm;
    }

    font-size: 0.95em;

    @include media-breakpoint-up(lg) {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1em;
        justify-content: space-between;

        .row>*,
        .form-item {
            margin: 0;
        }
    }

    @include media-breakpoint-down(lg) {
        #fixtures-filters {
            max-width: 20em;
        }

        #fixture-admin>.form-item {
            margin: 0;
        }
    }

    .form-item {
        display: inline-flex;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap: nowrap;
    }

    select {
        margin-left: 0.5em;
    }

    #dropdown_second_replace,
    #fixtures-for,
    #fixture-admin {
        display: flex;
    }

    .ajax-spinner--inline {
        display: inline-flex;
        align-items: center;
    }

    .spinner-border {
        width: 1.3rem;
        height: 1.3rem;
        margin: 0 0.8rem;
        border-width: 3.5px;
    }
}

/* Fixtures Form */
.match-admin-buttons {
    margin-bottom: 1rem
}

.match-admin-buttons input {
    margin: 1rem 1rem 0 0;
}

/* Buttons */

.lms-sm-btn-spinner {
    font-size: 16px;
    vertical-align: -2.4px;
}
