h1,
h2,
h3,
h4,
h5,
.footer-branding-block h4 a {
    color: $link-color;
}

main {
    h1 {
        font-size: min(calc(1.375rem + 1.5vw), 2em); // uses the built in bootstrap size or maxes out at 2em
        margin-bottom: 1.5rem;
    }

    h2 {
        margin: 2rem 0 1rem 0;
    }

    h3 {
        margin: 2rem 0 1rem 0;
    }
}
