main {
    padding: 1rem 0 2rem;
}

body {
    background-color: $secondary;
    min-width: 320px;
}

.region-content {
    padding: 1.5em 1em;
    margin: 0 0.5em;
    border-radius: var(--bs-border-radius);
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    background-color: #fff;
    box-shadow: 0px 10px 35px 0px rgba(206, 213, 225, .05);
    position: relative;
    z-index: 100;
}

@include media-breakpoint-down(sm) {
    .region-content {
        padding: 1em 0.75em;
        margin: 0;
    }

    .region-sidebar-first,
    .region-sidebar-second {
        padding: 0;
    }
}

nav.navbar {
    background-color: #fff;
    border-bottom: var(--bs-border-width) solid var(--bs-border-color-translucent);
    box-shadow: 0px 10px 35px 0px rgba(206, 213, 225, .05);
}

footer {
    background-color: #fff;
    border-top: var(--bs-border-width) solid var(--bs-border-color-translucent);
}

.region-sidebar-first,
.region-sidebar-second,
.region-content,
.region-sidebar-first .card,
.region-sidebar-second .card {
    margin-bottom: 1em;
}
