.navbar-brand {
    margin-right: 0;
}

#navbarSupportedContent {
    justify-content: space-between !important;
}

.block-league-loginstatus h3 {
    font-size: 1.1rem;
}

@include media-breakpoint-down(lg) {
    .navbar-brand {
        .site-title {
            font-size: 1.8rem;
        }
    }
}

.lms-league-title {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    padding-left: 8px;
}

@include media-breakpoint-down(lg) {
    .lms-league-title {
        font-size: 1.2rem;
        margin: 0.8rem 0;
    }
}

.lms-mobile-title {
    font-size: 2.1rem;
    margin: 0;
}

.navbar-nav {

    .nav-link.is-active {
        color: var(--#{$prefix}nav-tabs-link-active-color);
    }
}

.dropdown-menu[data-bs-popper] {
    left: initial;
    top: initial;
}

.dropdown-menu {
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 200px);

    @include media-breakpoint-down(lg) {
        max-height: calc(500px);
    }
}
