/* Tables */

.table {
    font-size: 0.95em;

    @include media-breakpoint-up(lg) {
        font-size: 0.9em;
    }

    @include media-breakpoint-up(xl) {

        font-size: 0.95em;
    }

    @include media-breakpoint-down(lg) {
        font-size: 0.95em;
    }

    @include media-breakpoint-down(md) {
        font-size: 0.91em;
    }
}

.lms-table-wrapper {

    th,
    td {
        white-space: nowrap;
    }

    clear: both;

    margin-top: 1em;

    h4 {
        margin-bottom: 1em;
    }

    th {
        border-top: 1px solid $primary;
        border-bottom: 1px solid #BFBFBF;
        background-color: $secondary;
    }

    tr.even td,
    table.no-header tr.odd td {
        background-color: $light;
    }

    table.no-header tr.even td {
        background-color: transparent;
    }

    /* Make Form fields sm in tables */
    select {
        @extend .form-select-sm;
    }

    input[type='text'],
    input[type='date'] {
        @extend .form-control-sm;
    }

    @include media-breakpoint-down(md) {

        th,
        td {
            padding: 0.5em;
        }
    }
}

table.no-header {
    border-top: var(--bs-border-width) solid var(--bs-border-color);
}

table.line-breaks {

    th,
    td {
        white-space: wrap;
        text-wrap: balance;
    }
}

/* Fixtures Table */

.fixtures-table {

    td:nth-of-type(2),
    th:nth-of-type(2) {
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        // font-size: 0.9em;

        td {
            white-space: nowrap;
        }

        td:nth-of-type(1),
        td:nth-of-type(3),
        td:nth-of-type(6) {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        td:nth-of-type(1),
        td:nth-of-type(3) {
            max-width: 120px;
        }

        td:nth-of-type(6) {
            max-width: 100px;
        }
    }

    @include media-breakpoint-up(xl) {

        // font-size: 0.95em;

        td:nth-of-type(1),
        td:nth-of-type(3) {
            max-width: 200px;
        }

        td:nth-of-type(6) {
            max-width: 125px;
        }

    }

    @include media-breakpoint-down(lg) {
        // font-size: 0.95em;

        border-collapse: collapse;
        border-spacing: 0;

        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody {
            display: block;
        }

        table {
            border-top: 1px solid $secondary;
        }

        th,
        td,
        tr {
            display: flex;
            flex-wrap: wrap;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead th:nth-of-type(n+4) {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        td {
            overflow: hidden;
        }

        td:nth-of-type(1),
        th:nth-of-type(1) {
            justify-content: end;
            text-align: right;
            width: 41%;
        }

        td:nth-of-type(2),
        th:nth-of-type(2) {
            width: 18%;
            border-left: 1px solid var(--#{$prefix}border-color);
            border-right: 1px solid var(--#{$prefix}border-color);
            justify-content: center;
            text-wrap: nowrap;
        }

        td:nth-of-type(3),
        th:nth-of-type(3) {
            width: 41%;
        }

        th:nth-of-type(1),
        th:nth-of-type(3) {
            justify-content: center;
        }

        /* Breaks a row */
        td:nth-of-type(3):after {
            display: flex;
            flex-basis: 100%;
            height: 0;
            content: "";
        }

        td:nth-of-type(4) {
            padding: 4px 8px;
            border-bottom: 1px solid $dark;
            font-size: 0.92rem;
        }

        td:nth-of-type(5) {
            padding: 4px 8px;
            border-bottom: 1px solid $dark;
            font-size: 0.92rem;
        }

        td:nth-of-type(6) {
            padding: 4px 8px;
            flex: 1;
            justify-content: end;
            border-bottom: 1px solid $dark;
            font-size: 0.92rem;
        }

        td:nth-of-type(7) {
            padding: 4px 8px;
            justify-content: end;
            border-bottom: 1px solid $dark;
            font-size: 0.92rem;
        }
    }

    @include media-breakpoint-down(md) {
        // font-size: 0.91em;

        td:nth-of-type(4),
        td:nth-of-type(5),
        td:nth-of-type(6),
        td:nth-of-type(7) {
            font-size: 0.9em;
        }

    }

}

/* Club Fixtures Table - Has the extra column for which organisation the fixture is played in! */



/* Edit Fixtures Table */

.edit-fixtures-table {

    td:nth-of-type(5),
    td:nth-of-type(6),
    td:nth-of-type(7) {
        white-space: nowrap;
    }

    td:nth-of-type(1),
    td:nth-of-type(3),
    td:nth-of-type(5),
    td:nth-of-type(8),
    td:nth-of-type(9),
    th:nth-of-type(1),
    th:nth-of-type(3),
    th:nth-of-type(5),
    th:nth-of-type(8),
    th:nth-of-type(9) {
        text-align: center;
    }

    td:nth-of-type(2),
    th:nth-of-type(2) {
        text-align: right;
    }
}

/* Match Table */

/* League frame is a wrapper around the match-table */
.league-frame a.btn {
    display: inline-block;
    @extend .btn-sm;
}

.team-match-table {

    td:nth-of-type(3),
    th:nth-of-type(3) {
        text-align: right;
    }

    td:nth-of-type(4),
    th:nth-of-type(4) {
        text-align: center;
        text-wrap: nowrap;
    }

    @include media-breakpoint-down(lg) {

        border-collapse: collapse;
        border-spacing: 0;

        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody {
            display: block;
        }

        th,
        td,
        tr {
            display: flex;
            flex-wrap: wrap;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        th:nth-of-type(1),
        th:nth-of-type(2),
        th:nth-of-type(6) {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        div[class^="membership-"] {
            display: none;
        }

        td {
            overflow: hidden;
        }


        /* re order the columns */
        td:nth-of-type(3) {
            order: 0;
        }

        td:nth-of-type(4) {
            order: 1;
        }

        td:nth-of-type(5) {
            order: 2;
        }

        td:nth-of-type(1) {
            order: 3;
        }

        td:nth-of-type(2) {
            order: 4;
        }

        td:nth-of-type(6) {
            order: 5;
        }

        td:nth-of-type(3),
        th:nth-of-type(3) {
            justify-content: end;
            text-align: right;
            width: 41%;
        }

        td:nth-of-type(4),
        th:nth-of-type(4) {
            width: 18%;
            border-left: 1px solid var(--#{$prefix}border-color);
            border-right: 1px solid var(--#{$prefix}border-color);
            justify-content: center;
            text-wrap: nowrap;
        }

        td:nth-of-type(5),
        th:nth-of-type(5) {
            width: 41%;
        }

        td:nth-of-type(1),
        td:nth-of-type(2) {
            padding: 4px 8px;
            border-bottom: 1px solid $dark;
        }

        td:nth-of-type(6) {
            padding: 4px 8px;
            flex: 1;
            justify-content: end;
            border-bottom: 1px solid $dark;
        }
    }
}

/* Individual Match Table */
.individual-match-table {

    td:nth-of-type(4),
    th:nth-of-type(4) {
        text-align: right;
    }

    td:nth-of-type(2) {
        text-wrap: nowrap;
    }

    td:nth-of-type(5),
    th:nth-of-type(5) {
        text-align: center;
        text-wrap: nowrap;
    }

    @include media-breakpoint-down(lg) {

        border-collapse: collapse;
        border-spacing: 0;

        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody {
            display: block;
        }

        th,
        td,
        tr {
            display: flex;
            flex-wrap: wrap;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        th:nth-of-type(1),
        th:nth-of-type(2),
        th:nth-of-type(3),
        th:nth-of-type(7) {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        div[class^="membership-"] {
            display: none;
        }

        td {
            overflow: hidden;
        }


        /* re order the columns */
        td:nth-of-type(4) {
            order: 0;
        }

        td:nth-of-type(5) {
            order: 1;
        }

        td:nth-of-type(6) {
            order: 2;
        }

        td:nth-of-type(1) {
            order: 3;
            width: 32px;
        }

        td:nth-of-type(3) {
            order: 4;
        }

        td:nth-of-type(2) {
            order: 5;
        }

        td:nth-of-type(7) {
            order: 6;
        }

        td:nth-of-type(4),
        th:nth-of-type(4) {
            justify-content: end;
            text-align: right;
            width: 41%;
        }

        td:nth-of-type(5),
        th:nth-of-type(5) {
            width: 18%;
            border-left: 1px solid var(--#{$prefix}border-color);
            border-right: 1px solid var(--#{$prefix}border-color);
            justify-content: center;
            text-wrap: nowrap;
        }

        td:nth-of-type(6),
        th:nth-of-type(6) {
            width: 41%;
        }

        td:nth-of-type(1),
        td:nth-of-type(2),
        td:nth-of-type(3) {
            padding: 4px 8px;
            border-bottom: 1px solid $dark;
        }

        td:nth-of-type(2) {
            padding-right: 40px;
        }

        td:nth-of-type(2) {
            justify-content: center;
        }

        td:nth-of-type(2),
        td:nth-of-type(3) {
            flex: 1;
        }

        td:nth-of-type(7) {
            padding: 4px 8px;
            flex: 1;
            justify-content: end;
            border-bottom: 1px solid $dark;
        }
    }
}


/* Enter Match Result Table */

.edit-match-table {

    th,
    td {
        text-wrap: nowrap;
    }

    input[type='text'] {
        width: 4em !important;
    }

    .form-select {
        min-width: 4rem;
    }

    th:nth-of-type(3),
    td:nth-of-type(3) {
        text-align: right;
    }

    td:nth-of-type(3) select,
    td:nth-of-type(3) input {
        float: right;
    }

    th:nth-of-type(4),
    td:nth-of-type(4) {
        text-align: center;
    }

    td:nth-of-type(4) select {
        margin: auto;
    }

    select {
        width: auto;
    }

    /* if it is the admin table which has a sixth column which has a checkbox in*/
    th:nth-of-type(6),
    td:nth-of-type(6) {
        text-align: center;
    }

    td:nth-of-type(6) div {
        display: inline;
    }

    td:nth-of-type(6) input {
        float: none;
    }

    @include media-breakpoint-down(xl) {
        th:nth-of-type(1) {
            font-size: 0;
        }

        .match-total {
            width: 3em !important;
        }
    }
}


/* League Table */

.league-table {
    td {
        white-space: nowrap;
    }

    @include media-breakpoint-down(md) {

        td:first-child,
        th:first-child {
            left: 0px;
            position: sticky;
        }
    }

    @include media-breakpoint-down(sm) {

        td:nth-of-type(1) {
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
